@media screen and (min-width:1px){
    .story{
      width:100%;
      display:block;
    height:30vh;
    background-color:#3d5a89;
}

.footerParagraph{
    width: 90vw;
    margin-left:5vw;
    font-size:12px;
    color:white;
}
    
    
    }