@media screen and (min-width:1px){
    .ranchoBannerMobile{
        width:0.0001px;
        height:0.00001px;
        opacity:0;
        display:none;
    }
    
    
    }


    @media screen and (min-width:300px){
        .ranchoBannerMobile{
            width:100%;
            height:auto;
            opacity:1;
            display:block;
        }

        .ranchoBannerImgMobile{
            width:100%;
            height:auto;
        }
.ranchoBannerTextContainerMobile{
    width:100vw;
    margin-top:30vw;

}

.ranchoSpamTitleMobile{
    font-size:32px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    padding:2vw;
    color:black;
    animation: fade-in 1s ease-in-out;
    animation-timeline: view();
    

}

.ranchoSpamParagraphMobile{
  text-align:center;
    font-size:23px;
    padding:2vw;
    line-height:43px;
    color:black;
    animation: fade-in 1s ease-in-out;
    animation-timeline: view();

    
}
        .ranchoBannerTitleMobile{
            text-transform:uppercase;
            text-align:center;
            width:55vw;
            margin-left:20vw;
            font-size:26px;
            color:white;
            font-weight:bold;
            margin-top:-12vh;

        }
        @keyframes fade-in {
            from {
              opacity: 0;
            }
            to {
              opacity: 100;
            }
          }
        
        }
        @media screen and (min-width:400px){
.ranchoBannerTitleMobile{
    font-size:32px;
        margin-top:-13vh;
}
        }
        @media screen and (min-width:550px){
            .ranchoBannerTitleMobile{
                font-size:40px;
                    margin-top: -17vh;
            }
 
                    }
                    @media screen and (min-width:640px){
                        .ranchoBannerTitleMobile{
                            font-size:42px;
                                margin-top:-20vh;
                        }
                                }

                                @media screen and (min-width:750px){
                                    .ranchoBannerTitleMobile{
                                        font-size:47px;
                                        margin-top:-22vh;
                                    }
                                            }

                                            @media screen and (min-width:850px){
                                                .ranchoBannerTitleMobile{
                                                    margin-top:-25vh;

                                                
                                                }
                                            }

    @media screen and (min-width:1025px){
        .ranchoBannerMobile{
            width:0.0001px;
            height:0.00001px;
            opacity:0;
            display:none;
        }
        
        
        }
        