@media screen and (min-width:1px){
.ranchMobile{
    width:0.0001px;
    height:0.0001px;
    opacity:0;
    display:none;
}


}

@media screen and (min-width:300px){
    .ranchMobile{
        width:100%;
        height:auto;
        opacity:1;
        display:block;
        margin-bottom:4vh;
    }


    .ranchMobileImgContainer{
        margin-top:8vh;
        padding-top:4vh;
        width:100%;
        height:auto;
        background-color:#F9F7F3;
    }

    .ranchMobileTitle{
        padding-top:8vh;
        color: #173E4C;
        font-weight:bold;
        font-size:28px;
        text-align:left;
        margin-left:5%;
        animation: fade-in 3s ease-in-out;
        animation-timeline: view();
    
    }
    
    .ranchMobileParagraph{
        padding-top:8vh;
        margin-left:5%;
        color: #173E4C;
        font-size:20px;
        line-height:30px;
        text-align: left;
        width:95%;
        animation: fade-in 4s ease-in-out;
        animation-timeline: view();
    
    
    }

    .ranchMobileBtn{
        margin-left:5%;
        margin-top:8vh;
        background-color: #07232C;
        width:180px;
        height:13vh;
        color: #fff;
        font-size: 14px;
        font-weight:bold;
    }


    .ranchMobileImg1{
        width:65vw;
        margin-left:6vw;
        animation: fade-in 3s ease-in-out;
        animation-timeline: view();
        margin-bottom: -10vh;
    }

    .ranchMobileImg2{
        width: 100vw;
        animation: fade-in 4s ease-in-out;
        animation-timeline: view();
    }

    .ranchMobileImg3{
        width: 50vw;
        animation: fade-in 2s ease-in-out;
        animation-timeline: view();
        margin-left:50vw;
        margin-top:-10vh;
    }
    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 100;
        }
      }
    
    
    
    }

    @media screen and (min-width:769px){
        .ranchMobile{
            width:0.0001px;
            height:0.0001px;
            opacity:0;
            display:none;
        }
        
        
        }