

    @media screen and (min-width:300px){
        .ondaBannerMobile{
            width:100%;
            height:auto;
            opacity:1;
            display:block;
        }

        .ondaBannerImgMobile{
            width:100%;
            height:auto;
        }
.ondaBannerTextContainerMobile{
    width:100vw;
    margin-top:38vw;

}

.theBestTitleMobile{
    font-size:32px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    padding:2vw;

}

.theBestParagraphMobile{
  text-align:center;
    font-size:23px;
    padding:2vw;
    line-height:43px;

    
}
        .ondaBannerTitleMobile{
            text-transform:uppercase;
            text-align:center;
            width:30vw;
            margin-left:35vw;
            font-size:32px;
            color:white;
            font-weight:bold;
            margin-top:-28vh;

        }
        
        
        }
        @media screen and (min-width:400px){
.ondaBannerTitleMobile{
    font-size:36px;
        margin-top:-34vh;
}
        }
        @media screen and (min-width:550px){
            .ondaBannerTitleMobile{
                font-size:40px;
                    margin-top:-38vh;
            }
                    }
                    @media screen and (min-width:640px){
                        .ondaBannerTitleMobile{
                            font-size:42px;
                                margin-top:-42vh;
                        }
                                }

                                @media screen and (min-width:697px){
                                    .ondaBannerTitleMobile{
                                        font-size:47px;
                                            margin-top:-42vh;
                                    }
                                            }

    @media screen and (min-width:1025px){
        .ondaBannerMobile{
            width:0.0001px;
            height:0.00001px;
            opacity:0;
            display:none;
        }
        
        
        }
        